CompileFlags:
  Add:
    - -std=c++17
    - -xc++
    - -IC:/msys64/mingw64/include/c++/15.2.0
    - -IC:/msys64/mingw64/include/c++/15.2.0/x86_64-w64-mingw32
    - -IC:/msys64/mingw64/include/c++/15.2.0/backward
    - -IC:/msys64/mingw64/lib/gcc/x86_64-w64-mingw32/15.2.0/include
    - -IC:/msys64/mingw64/lib/gcc/x86_64-w64-mingw32/15.2.0/include-fixed
    - -IC:/msys64/mingw64/include
  Compiler: C:/msys64/mingw64/bin/g++.exe
