.nav-header{
    align-items: center;
    display: flex;
    box-shadow: 0  1px 10px  rgb(167, 163, 163);
    flex-direction:row;
    height: 80px;
    justify-content: space-between;
    padding: 0 5vw;
}
.reviews{
    padding: 10vh 10vw;
}

.review-header p{
    margin-bottom: 8vh;
}

.review-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    height: 18rem;
    width: 81rem;
    margin:1rem auto;

}
.review-card{
    box-sizing: border-box;
    height: 20rem;
    width: 25.6rem;
    padding: 2rem;
   
}

