.nav-header{
    align-items: center;
    display: flex;
    box-shadow: 0  1px 10px  rgb(167, 163, 163);
    flex-direction:row;
    height: 65px;
    justify-content: space-between;
    padding: 0 5vw;
}
